@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* removing the arrows/spinners for input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: 'Space Mono', monospace;
  
  overflow-x: none;
}

/* Basic styling */

p {
  font-size: 15px;
}

h1 {
  color: var(--strong-cyan);
  font-size: 38px;
}

h2 {
  font-size: 20px;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 5px;
  
  font-size: 18px;
  color: var(--white);
  font-family: 'Space Mono', monospace;
}

input {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  
  width: 100%;
}

input:focus {
  outline: 2px solid var(--light-grayish-cyan);
}

/* Components */

.outer-container {
  display: flex;
  align-items: center;

  background-color: var(--light-grayish-cyan);
  width: 100%;
  height: 100%;
}

main {
  background-color: var(--white);
  display: flex;
  padding: 30px;
  border-radius: 25px;
  gap: 20px;
}

.left-container, .right-container {
  display: flex;
  flex-direction: column;
}

.left-container {
  gap: 30px;
}

.button-grid {
  display: grid;
  grid-auto-rows: 1fr;
  
  gap: 15px;
  text-align: center;
  margin: 10px 0;
}

.button-grid div {
  background-color: var(--very-dark-cyan);
  color: white;
  padding: 5px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.button-grid div:nth-child(6) {
  background-color: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
}

.button-grid input {
  text-align: center;
  color:var(--very-dark-cyan);
}

.left-container p {
  color: var(--grayish-cyan);
}

.input-container {
  position: relative;
}

.input-container img {
  position: absolute;
  bottom: 20px;
  left: 10px;
  align-self: center;
}

.input-container input {
  margin: 10px 0;
  padding: 5px;
  text-align: right;
}

.right-container {
  background-color: var(--very-dark-cyan);
  justify-content: space-between;
  padding: 30px;
  border-radius: 25px;
}

.right-container p {
  color: var(--white);
}

.right-container p:nth-child(2n) {
  font-size: 12px;
  opacity: 50%;
}

.right-container button {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.flex-section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.flex-section {
  display: flex;
  justify-content: space-between;
}

/* Helper classes */
  
.selected-button {
  background-color: var(--strong-cyan) !important;
  color: var(--very-dark-cyan) !important;
}

.error-input {
  outline: 2px solid red !important; 
}

.error-text {
  color: red !important;
}

.button-grid div:hover, button:hover {
  background-color: var(--light-grayish-cyan);
}


/* Mobile view */
@media (max-width: 704px) {
  .outer-container {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    margin: 40px;
  }

  main {
    flex-direction: column;
  }

  .button-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop view */
@media (min-width: 705px) {
.outer-container {
  justify-content: center;
}

main {
  width: 700px;
}

.logo {
  position: absolute;
  margin-top: -600px;
}

.left-container, .right-container {
  width: 50%;
}

.button-grid {
  grid-template-columns: repeat(3, 1fr);
}
}