@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: 'Space Mono', monospace;
}

/* Basic styling */

img {
  position: absolute;
  margin-top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 15px;
}

h1 {
  color: var(--strong-cyan);
}

button {
  border: none;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 5px;
  
  font-size: 15px;
  color: var(--white);
  font-family: 'Space Mono', monospace;
}

input {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  width: 90%;
  margin: 10px;
  padding: 10px;
}

/* Components */

.outer-container {
  background-color: var(--light-grayish-cyan);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--white);
  display: flex;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  width: fit-content;
}

.left-container, .right-container {
  width: 50%;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.button-grid div {
  background-color: var(--very-dark-cyan);
  border-radius: 5px;
  color: white;
}

.left-container p {
  color: var(--grayish-cyan);
}

.right-container {
  background-color: var(--very-dark-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-container p {
  color: var(--white);
}

.lighter-text {
  font-size: 10px;
}

.right-container button {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.flex-section {
  display: flex;
  justify-content: space-between;
}
